.cars-table-container {
  /* background-color: #f2f2f2; */
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  height: 100%;
}

.bottom-section {
  flex: 1;
  overflow: auto;
}

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.table-title > h3 {
  color: white;
}
